* {margin:0;padding:0;border:0;}
#main {width:700px; height:544px; margin:auto; margin-top:10px;}
#content {height:399px; padding-top:25px;margin-top:20px;margin-bottom:5px; }
#send {height:110px; width:600px;background:rgb(51,175,234);margin:auto;border-radius:10px;}
#control {position:relative; left:75px; top:18px;}
select,textarea {border:1px solid gray;}
#msg {width:410px;height:52px; margin-top:5px;}
#content-title{color:green;font-size:20px;width:700px;padding-bottom:5px;text-align:center;}
hr {border:1px solid gray; width:600px; margin:auto;}
#show_msg {width:560px; height:309px;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px;margin-left:47px;margin-top:10px;margin-bottom:10px;font-size:14px;font-weight:bold; overflow:auto;background-color:#DEB887;border-radius:20px;}

ul {font-size:12px;  list-style:none; width:110px; }

#anniu {margin-top:280px; margin-left:50px; }
#anniu input {margin-top:3px; width:98px;height:30px; background:#CD853F; color:white; border:2px solid white;}